@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    @if (TempData["msg"] != null)
    {

        <div class="alert alert-info">@TempData["msg"]</div>
    }
    <h4>You Are Login As</h4>
    <h5 class="text-success">@Session["Name"]</h5>
    <a href="/Login/Index" class="btn btn-danger">LOG OUT</a>

    <h2 class="text-center">DISTRIBUTION DETAILS</h2>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">RESTAURANT NAME</th>
                <th scope="col">RESTAURANT ADDRESS</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">DISTRIBUTION PLACE</th>
                <th scope="col">STATUS</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var d in Model)
            {



                    <tr>

                        <td>@d.Id</td>
                        <td>@d.RestaurantName</td>
                        <td>@d.RestaurantAddress</td>
                        <td>@d.Qty</td>
                        <td>@d.DistributionPlace</td>
                        <td>@d.Status</td>


                    </tr>


            }

        </tbody>
    </table>

</body>
</html>
