@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    @if (TempData["msg"] != null)
    {

        <div class="alert alert-info">@TempData["msg"]</div>
    }
    <h4>You Are Login As</h4>
    <h5 class="text-success">@Session["Name"]</h5>
    <a href="/Login/Index" class="btn btn-danger">LOG OUT</a>

    <h2 class="text-center">FOOD DETAILS</h2>
    <a href="/Food/Create" class="btn btn-info">ADD A FOOD</a>
    <a href="/Food/Show" class="btn btn-success">SEE ADDES FOODS</a>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">FOOD NAME</th>
                <th scope="col">ROTTENT TIME</th>
                <th scope="col">LAST TIME FOR COLLECT</th>
                <th scope="col">QUANTITY</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var food in Model)
            {
                if (Session["Email"].ToString() == food.Email)
                {


                    <tr>

                        <td>@food.Id</td>
                        <td>@food.Name</td>
                        <td>@food.RottenTime</td>
                        <td>@food.LastTimeForCollect</td>
                        <td>@food.Qty</td>
                        <td><a href="/Food/Edit/@food.Id" class="btn btn-info">Edit</a></td>
                        <td><a href="/Food/Delete/@food.Id" class="btn btn-info">Delete</a></td>
                        <td><a href="/Food/Add/@food.Id" class="btn btn-success">Add</a></td>
                    </tr>
                }


            }

        </tbody>
    </table>

</body>
</html>
